
/////////////////////////////////
//    Theme Primary Colors
//////////////////////////////////
$bogy_bg: #F9FAFF;

$primary_color: #405ADD;
$secondary_color: #DDE2FF; 
$white: #fff;
$black: #000;
$light_blue_color: #647BF0;
$ex-light_blue_color: #9AAAFA;
$alice_blue_color: #E6EAFF;
$alice_blue_color2: #BEB3F3;
$text_color: #505280;
$text_color2: #293340;
$text_color3: #232552;
$gray_text_color: #747B83;
$light_gray_color: #BFC2C6;
$dark_gray_color: #48515C;
$sky_blue_color: #43BFDD;
$dark_sky_blue_color: #16A6C9;
$dark_blue_color: #6F57E5;
$check_border_color: #405add;
$boder_color: #DFE0E2;
$boder2_color: #7171A6;
$boder3_color: #B8B8D2;
$placeholder_color: #32334F;
$yellow_color: #FFF4BF;




/////////////////////////////////
//        FONT SIZES
//////////////////////////////////

$font70: 70px;
$font56: 56px;
$font50: 50px;
$font34: 34px;
$font32: 32px;
$font28: 28px;
$font24: 24px;
$font20: 20px;
$font18: 18px;
$font17: 17px;
$font16: 16px;
$font15: 15px;
$font14: 14px;
$font13: 13px;
$font12: 12px;
$font11: 11px;
$font9: 9px;
